{% include "head" %}

<header>
  <div class="container">
    <div class="mast">
      <a href="/">Ilmer Past</a>
    </div>
    <nav>
      <a href="/map">Location</a>
      <a href="/newsroom">News</a>
      <a href="/about">About</a>
    </nav>
  </div>
</header>
<main>
  {% if image %}
    <figure>
      <img src="/{{image}}">
    </figure>
  {% endif %}
  <section class="article">

    <h1>{{ title }}</h1>

    <p>{{ description }}</p>

    {{ content }}
  </section>
</main>
<footer>
  <div class="container">
    An Ilmer community project
  </div>
</footer>
