---
layout: timeline
title: 'Timeline'
description: 'A detailed timeline of the history of Ilmer from 1066 to present-day.'
category: history
tags: [post]
image: images/timeline.png
---

<div id="timeline-container">
  {% for event in historicalEvents %}
    {% unless event.hidden %}
      <div class="timeline-item {% cycle 'left', 'right' %}">
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <h2><span class="date">{{ event.date }}</span>{{ event.title }}</h2>
          {{event.description | renderContent: "md" }}
          {% if event.references != empty %}
            <span class="reference">Source(s): {{event.references | join: ' <br> '}}</span>
          {% endif %}
        </div>
      </div>
    {% endunless %}
{% endfor %}

</div>
